.glass {
  background-color: rgba(233, 221, 175, 1);
  // @apply backdrop-blur-lg;
  @apply bg-clip-padding backdrop-filter backdrop-saturate-100 backdrop-contrast-100;
  border: 1px solid rgba(119, 162, 144, 0.85);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.glass-t {
  background-color: rgba(233, 221, 175, 1);
  // @apply backdrop-blur;
  @apply bg-clip-padding backdrop-filter backdrop-saturate-100 backdrop-contrast-100;
  border: 1px solid rgba(119, 162, 144, 0.85);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.glass-t-borderless {
  background-color: rgba(233, 221, 175, 1);
  // @apply backdrop-blur;
  @apply bg-clip-padding backdrop-filter backdrop-saturate-100 backdrop-contrast-100;
}

.glass-transparent {
  background-color: rgba(233, 221, 175, .7);
  // @apply backdrop-blur;
  @apply bg-clip-padding;
  // border: 1px solid rgba(119, 162, 144, 0.85);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

// Gradient
.gradient {
  @apply from-transparent via-transparent to-transparent;
  // @apply from-txt-s via-transparent to-transparent;
  // @apply dark:from-darkmode-txt-s dark:via-transparent dark:to-transparent;
}
